# macOS
.DS_Store

# Editors
.idea/
.vscode/

# Logs
*.log

# Dependencies
node_modules/

# Build artifacts
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
dist/
coverage/

# Environment files
.env
.env.*
!.env.example
