#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-dev.xcconfig"
#include "Generated.xcconfig"

DEBUG_INFORMATION_FORMAT=dwarf
GCC_GENERATE_DEBUGGING_SYMBOLS=YES
COPY_PHASE_STRIP=NO
STRIP_INSTALLED_PRODUCT=NO

FLUTTER_TARGET=lib/main_development.dart
DART_DEFINES=QVBQX0ZMQVZPUj1kZXY=,QVBQX0VOVj1kZXZlbG9wbWVudA==,QVBQX05BTUU9TW92YXJvIERldg==,QVBJX0JBU0VfVVJMPWh0dHA6Ly8xOTIuMTY4LjEuNDA6MzAwMA==,U1VQQUJBU0VfVVJMPWh0dHBzOi8veXpseWF4eGpvdWxpbXZyZm1laWwuc3VwYWJhc2UuY28=,U1VQQUJBU0VfQU5PTl9LRVk9c2JfcHVibGlzaGFibGVfU2xJT3MyNEF6WkZDSXAtdFlQSnAxUV9MWW9GYVN6Mw==
