#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(PODS_CONFIGURATION_BUILD_DIR)"

FLUTTER_TARGET=lib/main_production.dart
DART_DEFINES=QVBQX0ZMQVZPUj1wcm9k,QVBQX0VOVj1wcm9kdWN0aW9u,QVBQX05BTUU9TW92YXJv,QVBJX0JBU0VfVVJMPWh0dHBzOi8vbW92YXJvLXByb2R1Y3Rpb24udXAucmFpbHdheS5hcHA=,U1VQQUJBU0VfVVJMPWh0dHBzOi8veXpseWF4eGpvdWxpbXZyZm1laWwuc3VwYWJhc2UuY28=,U1VQQUJBU0VfQU5PTl9LRVk9c2JfcHVibGlzaGFibGVfU2xJT3MyNEF6WkZDSXAtdFlQSnAxUV9MWW9GYVN6Mw==
